
.leaflet-marker-icon {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    border: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
  }
  
  .marker-danger {
    background-color: red;
  }
  
  .marker-caution {
    background-color: orange;
  }
  
  .marker-warning {
    background-color: yellow;
  }
  
  .marker-none {
    background-color: green;
  }
  
  .marker-other {
    background-color: blue;
  }
  
